<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.market.mapper.city.EducationMapper">
    <resultMap id="EducationMapper" type="com.nenu.market.entity.city.Education">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="city_code" jdbcType="INTEGER" property="city_code" />
        <result column="city_name" jdbcType="VARCHAR" property="city_name" />
        <result column="city_exception" jdbcType="VARCHAR" property="city_exception" />
        <result column="city_sign" jdbcType="VARCHAR" property="city_sign" />
        <result column="city_studentFrom" jdbcType="VARCHAR" property="city_studentFrom" />
        <result column="city_visit" jdbcType="VARCHAR" property="city_visit" />
        <result column="city_recency" jdbcType="VARCHAR" property="city_recency" />
        <result column="city_grading" jdbcType="VARCHAR" property="city_grading" />
        <result column="city_score" jdbcType="DOUBLE" property="city_score" />
        <result column="city_unit" jdbcType="INTEGER" property="city_unit" />
        <result column="education_yon" jdbcType="VARCHAR" property="education_yon" />
    </resultMap>

    <!--遍历-->
    <select id="listAll" resultType="com.nenu.market.entity.city.Education">
        select * from `t_city`
    </select>

    <!--根据城市名查询-->
    <select id="selectEducationByCityName" resultType="com.nenu.market.entity.city.Education">
        select * from t_city where
        `city_name`=#{city_name}
    </select>

    <!--根据关键字查询-->
    <select id="selectEducationByKeyword" resultType="com.nenu.market.entity.city.Education">
        select * from t_city where
        `city_name` LIKE CONCAT('%',#{keyword},'%')
        OR `city_score`LIKE CONCAT('%',#{keyword},'%')
    </select>
</mapper>